<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
               xmlns:gap = "http://phonegap.com/ns/1.0"
       			 id        = "com.matis.isreiknir"       			  
        		version   = "1.0.0"
       >

    <!-- versionCode is optional and Android only -->

    <name>Ísreiknir</name>

    <description>
        Ísreiknir frá Matís. 
    </description>

    <author>
        Ólafur Björn Magnússon 
    </author>
    
		<preference name="permissions" value="none"/>
		<preference name="fullscreen" value="true"/>
		<preference name="phonegap-version" value="3.0.0"/>
		<preference name="orientation" value="portrait"/>
		<preference name="android-minSdkVersion" value="10" />
		<preference name="android-targetSdkVersion" value="12" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />

    <icon src="apple-touch-icon-57x57.png" gap:platform="android" gap:density="ldpi" />
    <icon src="apple-touch-icon-60x60.png" gap:platform="android" gap:density="mdpi" />
    <icon src="apple-touch-icon-72x72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="favicon-96x96.png" gap:platform="android" gap:density="xhdpi" />


</widget>

