<!DOCTYPE html>
<html ng-app="iceApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="angular.min.js"></script> 
    <script src="angular-ui.js"></script>

    <!-- Angular slider -->
    <script src="angular-slider-master/angular-slider.js"></script>   
    <link href="angular-slider-master/angular-slider.css" rel="stylesheet" />  

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="public/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="public/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <script src="IceCalculator.js"></script> 
</head>

<div ng-controller="CanvasCtrl" ng-init="init()">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
 
            <a id="reiknir" class="brand"  href="#">Ísreiknir</a>
            <div class="nav-collapse ">
                <ul class="nav">
                    <li ng-class="{ active: smallContainerDisplay == true }"><a href="#" ng-click="switchContainer(440)">460 Kar</a></li>              
                    <li ng-class="{ active: smallContainerDisplay == false }"><a href="#" ng-click="switchContainer(660)">660 Kar</a></li>
                     
                </ul>
               <ul class="nav pull-right">
                  <li> <img class="matisLogo"  src="Matis_logo.png" alt="Matis" height="42" width="42"> </li>
               </ul>
                 
                  
            </div><!-- /.nav-collapse --> 
          
        </div>
    </div><!-- /navbar-inner -->
</div>


  <div  >
    
      <h1></h1>     
     
    <div id="main" role="main" >
      <canvas id="canvas" ></canvas>
    </div>

      <div id="list" style="margin-left: auto; float; left">
             
          <div  style="margin-left: auto; margin-right: auto; width : 100%">

            <table class="table table-hover">

              <tr class="{{airRed}}">
                <td></td> 
                <td class="InputTitle">Afli (kg)</td> 
                <td class="numberRange"><input class="input-mini" type="number" min="0" max="{{maxCatch}}" ng-change="catchChange()" ng-model="catchWeight" required/></td>
                <td><input type="range" class="sliderInput" ng-model="catchWeight" ng-change="catchChange()"  min="0" max="{{maxCatch}}" /></td>            
              </tr>  

              <tr>
                <td></td> 
                <td class="InputTitle">Dagar</td> 
                <td class="numberRange"><input class="input-mini" type="number" min="0" max="15" ng-change="noDaysChange()" ng-model="noDays"/></td>
                <td><input type="range" class="sliderInput" ng-model="noDays" ng-change="noDaysChange()"  min="0" max="15" /></td>
              </tr>

              <tr >
                <td></td> 
               <td class="InputTitle" >Sjávarhiti</td> 
               <td class="numberRange"><input class="input-mini" type="number" min="0" max="20" ng-change="oceanTemperatureChange()" ng-model="oceanTemperature"/></td>
               <td><input type="range" class="sliderInput" ng-model="oceanTemperature" ng-change="oceanTemperatureChange()"  min="0" max="20" /></td>
              </tr>
           
              <tr>
                <td></td> 
                <td class="InputTitle">Lofthiti</td>
                <td class="numberRange"> <input class="input-mini" type="number" min="0" max="20" ng-change="airTemperatureChange()" ng-model="airTemperature"/></td>
                <td> <input type="range" class="sliderInput" ng-model="airTemperature" ng-change="airTemperatureChange()"  min="0" max="20" /> </td>
                
              </tr>

              <tr>
                <td></td> 
                <td class="InputTitle">Ísþörf </td><td class="numberRange"> {{iceNeed}} kg</td>
                <td ><span class="centeredWeight"> Alls {{combinedWeight}} kg </span> <button class="btn btn-inverse filler" ng-click="fillcontainer()">Fylla!</button></td>
              </tr>

              <tr class="{{airRed}}">
              <td></td> 
                <td class="InputTitle" > </td><td><span ng-show="!isFull">Skóflur</span></td>
                <td >{{Warning}} <p ng-show="!isFull">   <img class="matisLogo"  src="Tools-Shovel-icon.png" alt="Matis" height="17" width="17"><span class="bucketnshovel">{{schovels}}</span><span class="noteText"> (skóflan tekur 4 kg)</span> <span class="noteTextShort">(4 kg)</span></p></td>
                
              </tr>
                            <tr>
              <td></td> 
                <td class="InputTitle" > <td ng-show="!isFull">Fötur</td>
                <td > <p ng-show="!isFull"><img class="matisLogo"  src="Tools-Paint-basket-icon.png" alt="Matis" height="17" width="17"><span class="bucketnshovel">{{buckets}}</span><span class="noteText"> (fatan tekur 5 kg)</span> <span class="noteTextShort">(5 kg)</span></p></td>
                  
              </tr>
              <tr>
              <td></td> 
                <td class="InputTitle" > </td><td class="numberRange"> </td>
                <td ></td>
              </tr>

            </table>
             
        </div>
      
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Veljið stærð á kari</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item"> <img ng-src="{{ item.selection }}"/></a>
                </li>
            </ul>
            <p>Kar {{ selected.item.containerName }} valið.
            Karið rúmar {{selected.item.totalWeight}} lítra.</p> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse filler" ng-click="ok()">Áfram</button>
            
        </div>
    </script>
</html>